<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
   <%- include('./partials/header.ejs') %>
    <main>
        <a href="/">Go to main menu</a>
    </main>
</body>

</html>